.form {
    background-color: var(--auth-form-bg, #ccc);
    padding: 2em 1.2em;
    position: relative;
}

.formLogo {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    transform: translate(0%, -50%);
    margin: auto;
    width: 90%;
    filter:
        drop-shadow(6px -6px 10px #2e1065);
}

@media (min-width: 768px) {
    .form {
        border-radius: 8px;
        border: 6px solid rgb(241, 185, 63);
        box-shadow: 6px 3px 12px #2e1065,
            -6px -3px 12px #2e1065;
    }
}
