.sidebar{
    width:260px;
    min-height:100vh;
    color:white;
    padding:1rem;
}

/* Colores según rol */

.admin{
    background:linear-gradient(180deg,#7f1d1d,#450a0a);
}

.coach{
    background:linear-gradient(180deg,#14532d,#052e16);
}

.user{
    background:linear-gradient(180deg,#1e3a8a,#172554);
}

.icon {
    width: 18px;
    margin-right: .75rem;
}

/* Color del icono según rol */

.admin .icon {
    color: #f87171;
}

.coach .icon {
    color: #4ade80;
}

.user .icon {
    color: #60a5fa;
}

/* Secciones */

.section{
    margin-bottom:1rem;
}

.sectionTitle{
    width:100%;
    border:none;
    background:none;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:.75rem;
    font-weight:600;
    cursor:pointer;
    border-radius:.5rem;
    transition:.2s;
}

.sectionTitle:hover{
    background:rgba(255,255,255,.08);
}

.link {
    position: relative;
    display: block;
    color: rgba(255,255,255,.85);
    text-decoration: none;
    padding: .6rem .9rem;
    margin: .15rem 0;
    border-radius: .5rem;
    transition: 
        background .25s ease,
        color .25s ease;
}

.link:hover {
    background:rgba(255,255,255,.08);
    color:white;
}


/* activo */
.active {
    color:white;
    font-weight:600;
    background:rgba(255,255,255,.08);
}

/* indicador lateral */
.active::before {
    content:"";
    position:absolute;
    left:0;
    top:25%;
    height:50%;
    width:3px;
    border-radius:10px;
    background: yellow;

    animation: activeIndicator .25s ease-out;
}


@keyframes activeIndicator {

    from {
        height:0;
        opacity:0;
    }

    to {
        height:50%;
        opacity:1;
    }

}