:root {
    --navbar-gradient: linear-gradient(
    90deg,
    #1e1033,
    #2e1065,
    #6d28d9
  );
  --background-color: #ffffff;
  --text-color: #000000;
  --bs-secondary-color: #6c757d;
  --bs-card-bg: #f9f9f9 !important;
}

[data-bs-theme="dark"] {
  --background-color: #212529;
  --text-color: #ffffff;

  /* Bootstrap */
  --bs-body-bg: #212529;
  --bs-body-color: #ffffff;

  --bs-card-bg: #2b3035;
  --bs-secondary-color: #adb5bd;
}

body.dark {
  --background-color: #333333;
  --text-color: #ffffff;
  --bs-secondary-color:  #adb5bd;
  --bs-card-bg: #252525;

}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.text-muted {
  color: var(--bs-secondary-color);
}


body.login {
  background: linear-gradient(135deg, rgba(40, 10, 60, 0.55), rgba(10, 5, 20, 0.75)), url('https://cdn.pixabay.com/photo/2025/04/20/18/36/exercise-9546022_1280.png') no-repeat center left;
  background-size: auto, auto;
  background-size: contain;
}

body.register {
  background:
    linear-gradient(
      rgba(45, 20, 75, .55),
      rgba(45, 20, 75, .55)
    ),

    linear-gradient(
      to right,
      transparent 0%,
      transparent 60%,
      rgba(141, 119, 181, .25) 75%,
      rgba(141, 119, 181, .75) 90%,
      #8d77b5 100%
    ),

    url('/registro.webp');

  background-color: #58417c;

  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border-radius: 20px;
  overflow: auto;
}


.carousel-img-wrapper {
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

footer {
  background: var(--navbar-gradient);
}

.active {
  color: rgba(255, 188, 33, 0.946) !important;
}

.bg-pro {
  background: var(--navbar-gradient);
}