:root {
    --navbar-gradient: linear-gradient(
    90deg,
    #1e1033,
    #2e1065,
    #6d28d9
  );

}

body.login {
  background: linear-gradient(135deg, rgba(40, 10, 60, 0.55), rgba(10, 5, 20, 0.75)), url('https://cdn.pixabay.com/photo/2025/04/20/18/36/exercise-9546022_1280.png') no-repeat center left;
  background-size: auto, auto;
  background-size: contain;
}

body.register {
  background:
    linear-gradient(
      rgba(45, 20, 75, .55),
      rgba(45, 20, 75, .55)
    ),

    linear-gradient(
      to right,
      transparent 0%,
      transparent 60%,
      rgba(141, 119, 181, .25) 75%,
      rgba(141, 119, 181, .75) 90%,
      #8d77b5 100%
    ),

    url('https://mcherrera.dev/sportlife-login-funcional/assets/images/register-bg.webp');

  background-color: #58417c;

  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40% auto;
}

.carousel-img-wrapper {
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

footer {
  background: var(--navbar-gradient);
}

.active {
  color: rgba(255, 188, 33, 0.946) !important;
}

.bg-pro {
  background: var(--navbar-gradient);
}